<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.mingempty.BaseMapper">

    <sql id="limit">
        <if test="startIndex != null">
            limit #{startIndex}
            <if test="pageSize != null">,#{pageSize}</if>
        </if>
    </sql>

</mapper>
