package ${package.Controller};

#if(${importColtrollerPackages})
#foreach($pkg in ${importColtrollerPackages})
import ${pkg};
#end
#end
import org.springframework.web.bind.annotation.RequestMapping;
#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
import ${package.Entity}.${entity};
import ${package.Service}.${table.serviceName};
#end

/**
 * <p>
 * $!{table.comment}
 * <br>
 * 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${coltrollerClassAnnotations})
#foreach($pkg in ${coltrollerClassAnnotations})
${pkg}
#end
#end
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
#if(${kotlin})
class ${table.controllerName}#if(${superControllerClass}) : ${superControllerClass}<${table.serviceName}, ${entity}>()#end

#else
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass}<${table.serviceName}, ${entity}> {
#else
public class ${table.controllerName} {
#end

}
#end
